@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap");

* {
  margin: 4px;
  box-sizing: border-box;
  font-size: medium;
  color: white;
  background-color: #1e2026;
  font-family: Poppins;
}

.title {
  font-size: 2.2em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin: 5 auto;
}

canvas {
  width: 1400px;
  height: 900px;
}

.fa-bitcoin {
  color: orange;
}
.price-growth {
  display: flex;
}
.crypto-name {
  display: flex;
  justify-content: center;
  font-size: larger;
  align-items: center;
  cursor: pointer;
}
body {
  background-color: #1e2026;
}

.positive {
  color: rgb(28, 173, 28);
}

.negative {
  color: red;
}

.crypto-title {
  border: 1px solid white;
}
