@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap");
@import "./style/toggle-button.css";
@import "./style/loader.css";

* {
  margin: 0px;
  box-sizing: border-box;
  font-size: medium;
  background-color: var(--color1) !important;
  color: var(--color2);
  font-family: Poppins;
}

html {
  background-color: var(--color1);
}

body[data-theme="light"] {
  --color1: #a5afcc;
  --color2: #1e2026;
  --positive: rgb(15, 100, 15);
  --accent-color: #cca5b2;
}
body[data-theme="dark"] {
  --color2: #a5afcc;
  --color1: #1e2026;
  --positive: rgb(30, 167, 30);
  --accent-color: #cca5b2;
}

.title {
  font-size: 2.2em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

canvas {
  width: 1400px;
  height: 900px;
}

.fa-bitcoin {
  color: orange;
}
.price-growth {
  display: flex;
}
.crypto-name {
  display: flex;
  justify-content: center;
  font-size: 1.7em;
  align-items: center;
  cursor: pointer;
}
.growth {
  margin-left: 8px;
  color: red;
}

i {
  margin-left: 8px;
}

.positive {
  color: var(--positive);
}

.crypto-title {
  border: 1px solid var(--color2);
  margin-bottom: 8px;
  padding: 8px 8px;
}
